@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
    line-height: initial;
}

html {
    position: relative;
    min-height: 100%;
}

#chatbot-container {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.truncate-fade {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;

    mask-image: linear-gradient(to right, black 85%, transparent 100%);
}
