@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
    line-height: initial;
}

html {
    position: relative;
    min-height: 100%;
}

#chatbot-container {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
